body {
    margin: 0% 25%;
    font-family: 'Inter';
    text-align: center;

}
#header{
    padding: 3%;
    display: flex;
    flex-direction: column;
    background-color: #6943FF;
}
#main-heading{
    font-weight: 800;
    font-size: 28px;
    letter-spacing: -0.03em;
    color: #FFFFFF;
}
#number-to-convert{
    margin: 3% 35%;
    border: 2px solid #B295FF;
    border-radius: 5px;
    font-weight: 800;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
    background-color: #6943FF;

}
#convert-button{
    margin: auto;
    padding: 1% 6%;
    font-weight: 500;
    font-size: 16px;
    color: #3D3D3D;
    background: #FFFFFF;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 5px;
}


#main-body{
    display:flex;
    flex-direction: column;
    background: #1F2937;
    width:100%;
    gap:15px;
    padding: 3% 0%;

}
.metrics{
    display:flex;
    flex-direction: column;
    background: #273549;
    width: 70%;
    align-self: center;
    
}
.metric-title{
    font-weight: 600;
    font-size: 20px;
    text-align: center; 
    color: #CCC1FF;
    
}
#length-el{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}
#volume-el{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}
#mass-el{
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}